%h1
  = @user.name

.row
  .col-md-2
    %img{src: @user.image, width: '100px'}
  .col-md-10
    .row
      .col-md-4
        Email:
      .col-md-8
        %p
          = @user.email
    .row
      .col-md-4
        Prospects left:
      .col-md-8
        %p
          = @user.calls_left
    .row
      .col-md-4
        Current plan:
      .col-md-8
        %p
          = @user.plan
    .row
      .col-md-4
        Next payment:
      .col-md-8
        %p
          = @user.subscription_expires || Time.now
.row
  .col-md-12
    %table.table
      %thead
        %th
        %th
          Name
        %th
          Emails available
        %th
          Position
        %th
          Location
        %th
          Emails revealed
        %th
          Profile
      %tbody
        - @user.profiles.each do |p|
          %tr
            %td
              =link_to remove_profile_users_path(id: p.id), method: :post do
                = fa_icon 'remove'
            %td
              =p.name
            %td
              =p.emails_available
            %td
              =p.position
            %td
              =p.location
            %td
              =p.email
            -#%td
            -#  =p.notes unless p.notes.empty?
            %td
              = link_to 'Linkedin profile', p.linkedin_url, target: :_blank
            %td
              =p.twitter_url
            %td
              =p.facebook_url

.row
  .col-md-10
  .col-md-2
    = link_to download_user_path(@user, format: :csv), class: 'btn btn-default' do
      Download
      = fa_icon 'download'