<table>
  <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= person.position %></td>
        <td><%= person.industry %></td>
        <td><%= person.location %></td>
        <td><%= person.linkedin_id %></td>
        <td><%= person.owner %></td>
        <td>
          <table>
            <% notes_hash = eval person.notes[/{.+}/] %>
            <% unless person.notes.nil? %>
                <%- notes_hash.keys.each do |key| %>
                    <tr>
                      <td><%= key %></td>
                      <td><%= notes_hash[key] %></td>
                    </tr>
                <% end %>
            <% end %>
          </table>
        </td>
      </tr>
  <% end %>
</table>