<p id="notice"><%= notice %></p>

<h1>Listing Industries</h1>

<table>
  <thead>
  <tr>
    <th>Index</th>
    <th>Keywords</th>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @industries.order(:name).each do |industry| %>
      <tr>

        <td><%= industry.name %></td>
        <td><%= industry.keywords %></td>
        <td><%= industry.index %></td>
        <td></td>
        <td><%= link_to 'Edit', edit_industry_path(industry) %></td>
        <td><%= link_to 'Destroy', industry, method: :delete, data: {confirm: 'Are you sure?'} %></td>


      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Industry', new_industry_path %>
