- fi = params[:fi] || []
- campaign_name = params[:name] || "Email campaign, #{Time.now.to_formatted_s(:short)}, #{@profiles.size} emails"
- email_template_id = params[:email_template_id] || @email_templates.first.id
- subject = params[:subject] || 'Advice needed'
.row
  .col-md-6
    %table.table
      %tbody
        -@profiles.each do |profile|
          %tr.profile
            %td
              =link_to new_campaign_path(fi: fi + [profile.id], email_template_id: params[:email_template_id]), class: 'remove-profile' do
                = fa_icon 'remove'
            %td
              =profile.name
            %td
              =profile.position
            %td
              =profile.emails.first

  .col-md-6
    = bootstrap_form_tag url: campaigns_path do |f|
      - profile = params[:profile_id].nil? ? @profiles.first : @profiles.find(params[:profile_id])
      - if profile.present?
        .row
          .col-md-6
            = f.text_field :name, value: campaign_name, label: 'Campaign name'
        .row
          .col-md-6
            =f.select :email_template_id, options_from_collection_for_select(@email_templates, 'id', 'name', email_template_id),{label: 'Choose template'}, {'data-url': new_campaign_path(fi: fi, email_template_id: params[:email_template_id], name: campaign_name, subject: subject)}
        .row
          .col-md-6
            = f.text_field :subject, value: subject
        .row
          .col-md-12#template-text
            = profile.apply_template(email_template_id).gsub("\n",'<br/>').html_safe
        .row
          %hr
          .col-md-6
            =f.hidden_field :hidden, value: params.to_json
            =f.check_box :send_later, label: 'Send later', checked: true
          .col-md-6
            =f.submit 'Create campaign', class: 'btn btn-info', id: 'send'
.row
  %br
.row
  %br
.row
  %br
