!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Trendom, email revealer
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav
    %nav.navbar.navbar-default
      .container-fluid
        -#.navbar-header
        -#  %a.navbar-brand{:href => "#"}
        -#    %img{alt: 'Trendom.io', :src => "..."}/
        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li
              =link_to destroy_user_session_path, method: :delete do
                = fa_icon 'sign-out'
                Sign out

    .container-fluid
      = yield
