!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Trendom, email revealer
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav
    %nav.navbar.navbar-default.navbar-inverse
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{'aria-expanded': 'false', 'data-target': '#navbar-collapse', 'data-toggle': 'collapse', type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: user_root_path}
            %img{alt: 'Trendom.io', src: image_path('logo.png')}/
        .collapse.navbar-collapse#navbar-collapse
          - if user_signed_in?
            %ul.nav.navbar-nav
              %li
                =link_to 'Profiles', user_root_path
              %li
                =link_to 'Campaigns', campaigns_path
              %li
                =link_to 'Email templates', email_templates_path
              %li
                =link_to 'Settings'
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to destroy_user_session_path, method: :delete do
                  = fa_icon 'sign-out'
                  Sign out

    .container-fluid
      -flash.each do |name, msg|
        %div{class: "alert alert-#{name == 'notice' ? 'success' : 'danger'} alert-dismissible fade in", role: 'alert'}
          %button.close{'aria-label': 'Close', 'data-dismiss': 'alert', type: 'button'}
            %span{'aria-hidden': 'true'} ×
          =msg

      = yield