!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Trendom, email revealer
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav
    %nav.navbar.navbar-default
      .container-fluid
        -#.navbar-header
        -#  %a.navbar-brand{:href => "#"}
        -#    %img{alt: 'Trendom.io', :src => "..."}/
        .collapse.navbar-collapse
          - if user_signed_in?
            %ul.nav.navbar-nav
              %li
                =link_to 'Campaigns', campaigns_path
              %li
                =link_to 'Profiles', user_path(current_user)
              %li
                =link_to 'Email templates', email_templates_path
              %li
                =link_to 'Settings'
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to destroy_user_session_path, method: :delete do
                  = fa_icon 'sign-out'
                  Sign out

    .container-fluid
      -flash.each do |name, msg|
        %div{class: "alert alert-#{name == 'notice' ? 'success' : 'danger'} alert-dismissible", role: 'alert'}
          %button.close{'aria-label' => 'Close', 'data-dismiss' => 'alert', type: 'button'}
            %span{'aria-hidden' => 'true'} ×
          =msg

      = yield